@use '../../_css/queries.scss' as *;

.header {
  padding: var(--base) 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 150px;
}
